@using FoodAndCore.Models.Entites.Concretes;
@model List<Food>

@foreach (var item in Model)
{
    <p>@item.Name</p>
    <p>@item.Description</p>
    <p>@item.CategoryId</p>
    <p>@item.Price</p>
    <p>@item.Stock</p>

}